---
import { Icon } from 'astro-icon';
import { Picture } from '@astrojs/image/components'

import { getPermalink, getRelativeLink } from '~/utils/permalinks';
---

<section class="relative bg-steel-800 border-b border-steel-600">
	<div class="max-w-7xl mx-auto px-10 md:px-20 relative z-10">
		<div class="py-12 md:py-20">
			<div class="text-center md:text-left max-w-5xl mx-auto md:grid md:grid-cols-2">
				<hgroup class="text-zinc-300">
					<h1 class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading">
						<!-- <img src={getRelativeLink("images/forgejo-wordmark.svg")} style="height: 2em;" alt="Forgejo" /> -->
						Forgejo
					</h1>
					<p class="text-3xl md:text-3xl mb-8">
						Beyond coding.
						<span class="bg-gradient-to-r from-amber-500 to-red-600 bg-clip-text text-transparent whitespace-nowrap">We forge.</span>
					</p>
				</hgroup>
				<div style="grid-area: 1/2/5/3;">
					<Picture
						src={import('~/assets/images/mascot-dark.png')}
						class="h-auto w-auto md:max-w-[125%] md:max-h-[calc(100%+20em)] mx-auto relative -mt-10 -z-10"
						widths={[407, 814, 1273]}
						sizes="(max-width: 767px) 407px, (max-width: 1479px) 814px, 1629px"
						alt=""
						aspectRatio={1629/1273}
						loading="eager"
						width={1629}
						height={1273}
						formats={["webp","png"]}
					/>
				</div>
				<div class="text-justify md:text-left">
					<p class="text-xl text-zinc-400 mb-4">
						<span class="font-semibold">Forgejo</span>
						is a self-hosted lightweight software forge.<br />
						Easy to install and low maintenance, it just does the job.
					</p>
					<p class="text-l text-zinc-400 mb-8">
						Brought to you by an inclusive community under the umbrella of
						<a href="https://docs.codeberg.org/getting-started/what-is-codeberg/#what-is-codeberg-e.v.%3F">Codeberg e.V.</a>,
						a democratic non-profit organization, Forgejo can be trusted to be exclusively Free Software.
						It is a "soft" fork of Gitea with a focus on scaling, federation and privacy.
					</p>
					<div class="m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
						<a class="btn btn-dark btn-primary sm:mb-0 w-full sm:w-auto"
							href={getPermalink('download', 'page')}
						>
							<Icon name="tabler:download" class="w-5 h-5 mr-1 -ml-1.5" /> Get Forgejo
						</a>
						<a
							class="btn btn-dark w-full sm:w-auto"
							href="#features">Learn more</a
						>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
